<?xml version="1.0" encoding="utf-8"?>
<Settings>
    <!--Ai parties discard excess food when it is looted-->
    <DiscardExcessFood>true</DiscardExcessFood>

    <!--
        AI parties know how many troops they can recruit before entering a settlement, so they 
        don't get stuck trying to recruit from a settlement that has no troops for them
    -->
    <AIRecruitFix>true</AIRecruitFix>

    <!--
        There is a list of towns that a carvan has to avoid based on certain conditions. When the 
        caravan is chased by and an enemy, new towns are added to the list. Sometimes this list grows to include all settlements in the game. This fixes that by 
    -->
    <CaravanFix>true</CaravanFix>
</Settings>