<?xml version="1.0" encoding="utf-8"?>
<Settings>
    <!--Ai parties discard excess food when it is looted.-->
    <DiscardExcessFood>true</DiscardExcessFood>

    <!--
        Allows AI parties know exactly how many troops they can recruit before entering a 
        settlement, so they don't get stuck trying to recruit from a settlement that has no 
        troops for them.
    -->
    <AIRecruitFix>true</AIRecruitFix>

    <!--
        A list which contains towns that a caravan can't travel to sometimes grow to include all 
        towns. This fix clears the list when it grows to that size so the caravan can find a town 
        to trade with.
    -->
    <CaravanFix>true</CaravanFix>

    <!--
        This fixes 2 problems. Firstly, when deploying formations, some will sometimes be flagged 
        as needing cavalry spacing when the don't have any cavalry. This is fixed by resetting the 
        flag and resetting unit positions at the beginning of deployment. Secondly, when the 
        player is captain of an infantry formation, the projected unit positions are placed as if 
        they were cavalry, i.e. spaced out. This fixes the problem by resetting the flag that 
        determines spacing of projected formations.
    -->
    <BadFormationProjectionFix>true</BadFormationProjectionFix>

    <!--
        When archers are in loose formation and start getting killed, the formation will be 
        resized to a smaller width and will change to line formation.
    -->
    <ResizeLooseFormationFix>true</ResizeLooseFormationFix>

    <!--
        Fixes problem as described here: https://forums.taleworlds.com/index.php?threads/family-feud-quest-fails-if-you-go-to-tournament-before-its-completion.453479/
        The vanilla logic for the family feud quest ends with failure when the player falls 
        unconcious, even when the player is not in the mission settlement. 
    -->
    <FailFamilyFeudQuestFix>true</FailFamilyFeudQuestFix>

    <!--
        Fixes problem as described here: https://forums.taleworlds.com/index.php?threads/ransom-for-captured-lords-is-not-paid-after-upgrading-to-1-8-0.453369/
        Lords aren't sold off when "Ransom your prisoners" is selected in the tavern game menu. 
    -->
    <LordsNotSoldFix>true</LordsNotSoldFix>

    <!--
        Fixes problem as described here: https://forums.taleworlds.com/index.php?threads/unit-formations-sometimes-force-themselves-into-a-permanent-square-shape.453610/
        Makes Formations keep the width of the previous formation.
    -->
    <FormationSizeFix>true</FormationSizeFix>

    <!--
        Makes units that haven't arrived at their position in the formation run.
    -->
    <UnitsRunWhenFormingUp>true</UnitsRunWhenFormingUp>

    <!--
        Makes units which haven't arrived at their position in formation not block with shields.
    -->
    <UnitsDontUseShieldsWhenFormingUp>true</UnitsDontUseShieldsWhenFormingUp>

    <!--
        Stops the party menu from bouncing around when upgrading.
    -->
    <BouncingScrollablePanelFix>true</BouncingScrollablePanelFix>

    <!--
        Allows formations to be really thin with respect to the direction the formation is facing, 
        i.e. low in file, but high in count.
    -->
    <SkinnyFormations>true</SkinnyFormations>
</Settings>